{
  "presets": ['@babel/preset-react','@babel/preset-env', '@babel/preset-flow'],
  "plugins": [
  	["@babel/plugin-transform-runtime", {
      "helpers": false,
      "corejs": 2,
      "regenerator": true
    }]]
}